<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="com.bachk.ssys.fcl.model.City"/>
  <mapping class="com.bachk.ssys.fcl.model.Country"/>
  <mapping class="com.bachk.ssys.fcl.model.Region"/>
 </session-factory>
</hibernate-configuration>
